@tailwind base;
@tailwind components;
@tailwind utilities;

@import './animations.css';

/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Poppins:wght@200;300;400;500;600&display=swap");

@font-face {
    font-family: 'Avenir';
    src: local('Avenir Roman'), local('Avenir-Roman'),
        url('/fonts/Avenir-Roman.woff2') format('woff2'),
        url('/fonts/Avenir-Roman.woff') format('woff'),
        url('/fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body {
  padding: 0;
  margin: 0;
  font-family: 'Avenir', sans-serif;
  @apply min-h-screen overflow-x-hidden flex items-center justify-center
}

a {
  color: inherit;
  text-decoration: none;
  /* color: hsl(278, 100%, 25%); */
}

* {
  box-sizing: border-box;
}

/* heading-2 */

.heading-2 {
  @apply text-2xl my-4
}

/* .side-border {
  @apply relative px-2 after:absolute after:top-[50%] after:right-8 after:w-[50%] after:border-b-2 after:border-gray-400
} */

.pages-container > * {
  @apply mt-8
}

.coin-description {
  @apply mb-6
}

.coin-description h3{
  @apply font-semibold text-xl my-2
}

.coin-description p {
  @apply my-3 text-base opacity-90 text-gray-600 dark:text-white
}

.coin-description a {
  @apply !text-[#0052ff]
}

.coin-link {
  @apply flex justify-between items-center py-4 px-8 border-b-2 last:border-b-0 last:pb-2 hover:bg-gray-100
}
